@{
    ViewData["Title"] = "Home Page";
}

<main id='app-root'>
    <span class="d-inline-block p-4">Loading...</span>
</main>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
